@media (max-height: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .welcome {
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .services div {
        justify-content: center;
        flex-wrap: wrap;
    }

    .header-nav {
        display: none;
    }

    .header-select {
        display: none;
    }
}

@media (max-width: 576px) {
    .hero-general h1 {
        font-size: 40px;
    }
    .hero-img {
        width: 90%;
    }
    .welcome-img {
        width: 90%;
    }

    .services-block {
        margin-bottom: 30px;
    }
    .hero-general {
        width: 90%;
    }
    .welcome-general {
        width: 90%;
    }
}

@media (max-width: 451px) {
    .hero-general h1 {
        font-size: 32px;
    }
    #hero {
        padding-top: 120px;
    }
    .hero-img {
        padding-top: 40px;
    }
}

@media (max-width: 425px) {

}

@media (max-width: 415px) {
    .hero-general h1 {
        font-size: 30px;
    }
}

@media (max-width: 380px) {

}

@media (max-width: 376px) {
    .hero-general h1 {
        font-size: 28px;
    }
}

@media (max-width: 320px) {

}