* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

#header {
    box-shadow: 0 3px 13px black;
    position: fixed;
    width: 100%;
    z-index: 15;
    background: rgba(255, 255, 255, 0.66);
    backdrop-filter: blur(5px);
}

.header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(31, 46, 53, 0.8);
    padding: 0 15px;
}

.header-select {
    border: none;
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(31, 46, 53, 0.8);
    outline: none;
}

.header-icons span {
    font-size: 20px;
    padding: 0 10px;
}

#hero {
    padding-top: 200px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-general {
    width: 550px;
}

.hero-general h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #1F2E35;
    margin-bottom: 40px;
}

.hero-general h1 span {
    color: orangered;
}

.hero-general p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #30444E;
    margin-bottom: 50px;
}

.hero-general button {
    border: 1px solid #EE4248;
    color: white;
    padding: 10px 30px ;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
    transition: .4s;
}

.hero-general button:hover {
    transform: scale(1.1);
    background: transparent;
    color: orangered;
}

#welcome {
    background: #F7F7F7;
    padding: 50px 0;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-general {
    width: 520px;
}

.welcome-general h1 {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 30px;
    color: #1F2E35;
}

.welcome-general h1  span {
    color: orangered;
}

.welcome-general p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #30444E;
    margin: 40px 0 0  0;
}

.welcome-general p  span {
    color: orangered;
}

#services {
    padding: 50px 0;
}

.services-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #1F2E35;
    margin-bottom: 50px;
}

.services-block {
    width: 280px;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}

.services-block h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #EE4248;
    margin-bottom: 15px;
}

.services-block p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #30444E;
    margin-bottom: 10px;
}


.services-block button {
    border: 1px solid #EE4248;
    color: white;
    padding: 8px 20px ;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
    transition: .4s;
}

.services-block button:hover {
    transform: scale(1.1);
    background: transparent;
    color: orangered;
}

.services div {
    display: flex;
    justify-content: space-between;
}